



<div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2">
        <!-- <app-sidebar-mountains>

        </app-sidebar-mountains> -->

        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h4>Планини</h4>
                </div>

                <ul class="list-unstyled components">

                    <li>
                        <h2 (click)="onClickBelasica()">Беласица</h2>
                    </li>
                    <li>
                        <h2 (click)="onClickKorab()">Кораб</h2>
                    </li>
                    <li>
                        <h2 (click)="onClickSharPlanina()">Шар Планина</h2>
                    </li>
                    <li>
                        <h2 (click)="onClickOsogovski()">Осоговски Планини</h2>
                    </li>
                    <li>
                        <h2 (click)="onClickBistra()">Бистра</h2>
                    </li>
                    <li>
                        <h2 (click)="onClickKaradzica()">Караџица</h2>
                    </li>
                    <li>
                        <h2 (click)="onClickMalesevski()">Малешевски Планини</h2>
                    </li>
                    <li>
                        <h2 (click)="onClickPlackovica()">Плачковица</h2>
                    </li>


                </ul>
            </nav>

        </div>
        <script>
            $(document).ready(function () {

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });

        });
        </script>
    </div>

    <div class="col-md-10 col-lg-10 col-sm-10">

        <app-main-mountains [mountain] = "obj">

        </app-main-mountains>
        </div>

</div>

